apiVersion: v1
kind: Secret
metadata:
  name: slack-secret
  namespace: ai-platform-engineering
type: Opaque
data:
  SLACK_BOT_TOKEN:
  SLACK_APP_TOKEN:
  SLACK_SIGNING_SECRET:
  SLACK_CLIENT_SECRET:
  SLACK_TEAM_ID:
