global:
  secrets:
    data:
      LLM_PROVIDER: "azure-openai"  # Options: azure-openai, openai, aws-bedrock

      # --- Use Azure OpenAI ---
      AZURE_OPENAI_API_KEY: ""
      AZURE_OPENAI_ENDPOINT: ""
      AZURE_OPENAI_API_VERSION: ""
      AZURE_OPENAI_DEPLOYMENT: ""

      # # --- Or Use OpenAI ---
      # OPENAI_API_KEY: ""
      # OPENAI_ENDPOINT: ""
      # OPENAI_MODEL_NAME: ""

      # # --- Or Use AWS Bedrock ---
      # AWS_ACCESS_KEY_ID: ""
      # AWS_SECRET_ACCESS_KEY: ""
      # AWS_REGION: ""
      # AWS_BEDROCK_MODEL_ID: ""
      # AWS_BEDROCK_PROVIDER: ""

agent-argocd:
  secrets:
    data:
      ARGOCD_TOKEN: ""
      ARGOCD_API_URL: ""
      ARGOCD_VERIFY_SSL: "true"

agent-pagerduty:
  secrets:
    data:
      PAGERDUTY_API_KEY:  ""
      PAGERDUTY_API_URL: ""

agent-pagerduty:
  secrets:
    data:
      PAGERDUTY_API_KEY: ""
      PAGERDUTY_API_URL: ""

agent-github:
  secrets:
    data:
      GITHUB_TOKEN: ""

agent-atlassian:
  secrets:
    data:
      ATLASSIAN_TOKEN: ""
      ATLASSIAN_EMAIL: ""
      ATLASSIAN_API_URL: ""

agent-backstage:
  secrets:
    data: {}

agent-slack:
  secrets:
    data:
      SLACK_BOT_TOKEN: ""
      SLACK_APP_TOKEN: ""
      SLACK_SIGNING_SECRET: ""
      SLACK_CLIENT_SECRET: ""
      SLACK_TEAM_ID: ""
